@import url(libs/niftymodal/component.css);
@import url(libs/tel/intlTelInput.css);
/* ===== VARIABLES =====*/
#sec_02 {
  padding: 120px 0; }
  #sec_02 h2.left_block--header {
    margin: 115px 0 45px; }
  #sec_02 h2.right_block--header {
    margin-top: 30px;
    margin-bottom: 48px; }
  #sec_02 .list-desc {
    font-family: "latoblack", sans-serif;
    font-size: 20px;
    letter-spacing: -.05em; }
  #sec_02 .left_block--list {
    padding-left: 40px;
    margin-top: 20px; }
    #sec_02 .left_block--list li .title {
      position: relative;
      color: #4097a2;
      font-family: "latoblack", sans-serif;
      margin-bottom: 6px; }
    #sec_02 .left_block--list li .title:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 12px;
      left: -40px;
      top: 5px;
      background: url(img/list-1.png) center no-repeat; }
    #sec_02 .left_block--list li + li {
      margin-top: 30px; }
  #sec_02 .right_block--list {
    margin: 20px 0 140px; }
    #sec_02 .right_block--list li + li {
      margin-top: 30px; }
  #sec_02 .right_block--list + img {
    float: right; }

#sec_03 {
  padding: 160px 0 190px;
  overflow: hidden;
  background: url(img/sec_03-bg.jpg) top center no-repeat;
  color: #fff; }
  #sec_03 .grid_12 {
    position: relative; }
  #sec_03 h2 {
    font-size: 40px;
    margin-bottom: 22px;
    line-height: 46px; }
  #sec_03 p {
    font-size: 18px;
    line-height: 27px; }
  #sec_03 .btn {
    width: 320px;
    margin: 30px 0 35px; }
  #sec_03 .btn + p {
    letter-spacing: .02em;
    margin-bottom: -23px; }
  #sec_03 .btndwn {
    position: absolute;
    bottom: -193px;
    width: 190px;
    height: 190px;
    right: 246px;
    transition: 0.5s; }
  #sec_03 .btndwn:hover {
    background: rgba(255, 255, 255, 0.1); }
  #sec_03 .mob {
    display: none; }
  #sec_03 .price {
    font: 55px "GothamPro-Black", sans-serif;
    margin: 25px 0px 0 0; }
    #sec_03 .price span {
      font-size: 15px;
      display: block;
      font-family: "latoregular", sans-serif; }

#sec_04 {
  padding: 115px 0; }
  #sec_04 .left_block {
    padding-left: 30px; }
  #sec_04 h2 {
    margin-bottom: 45px; }
  #sec_04 ul {
    padding-left: 40px; }
    #sec_04 ul li {
      position: relative;
      line-height: 24px;
      letter-spacing: -.025em; }
      #sec_04 ul li span {
        font-family: "latoblack", sans-serif; }
    #sec_04 ul li:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 14px;
      left: -35px;
      top: 5px;
      background: url(img/list.png) center no-repeat; }
    #sec_04 ul li + li {
      margin-top: 23px; }

#sec_05 {
  padding: 130px 0 190px;
  background: url(img/sec_05-bg.jpg) top center no-repeat; }
  #sec_05 .container {
    padding-left: 5px;
    position: relative; }
  #sec_05 .block_text {
    display: inline-block;
    width: 570px;
    padding-left: 30px;
    padding-bottom: 88px; }
    #sec_05 .block_text h2 {
      margin-bottom: 25px; }
    #sec_05 .block_text p {
      font-size: 18px;
      line-height: 27px; }
  #sec_05 .item_wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px; }
  #sec_05 .item {
    position: relative;
    width: 190px;
    height: 190px;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
    cursor: default; }
    #sec_05 .item img {
      margin-bottom: 25px;
      margin-top: 10px;
      transition: all 0.5s; }
    #sec_05 .item p {
      min-height: 48px;
      line-height: 24px; }
  #sec_05 .row-1, #sec_05 .row-2, #sec_05 .row-3 {
    display: flex;
    justify-content: flex-start; }
  #sec_05 .row-4 {
    display: flex;
    justify-content: center; }
    #sec_05 .row-4 .item:nth-child(1) {
      margin-left: -25px; }
  #sec_05 .image-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    opacity: 0;
    width: 60px;
    text-align: center;
    left: 50%;
    margin-left: -30px;
    top: 41px;
    transition: all 0.5s; }
  #sec_05 .btndwn {
    position: absolute;
    bottom: -190px;
    width: 190px;
    height: 190px;
    left: 575px;
    transition: 0.5s; }
  #sec_05 .btndwn:hover {
    background: rgba(0, 0, 0, 0.1); }

#sec_06 {
  padding: 190px 0 190px;
  background: url(img/sec_06-bg.png) top center no-repeat;
  color: #fff; }
  #sec_06 .container {
    position: relative; }
  #sec_06 #anchor_06 {
    position: absolute;
    top: -60px; }
  #sec_06 .btndwn {
    position: absolute;
    bottom: -188px;
    width: 190px;
    height: 190px;
    left: 385px;
    transition: 0.5s; }
  #sec_06 .btndwn:hover {
    background: rgba(255, 255, 255, 0.1); }
  #sec_06 .block_form {
    position: relative;
    margin-right: 25px;
    float: right;
    vertical-align: top;
    width: 380px;
    text-align: center;
    position: relative;
    padding: 60px 30px;
    background: rgba(0, 0, 0, 0.2); }
  #sec_06 .block_form:before {
    position: absolute;
    content: '';
    width: 190px;
    height: 190px;
    left: -190px;
    bottom: 0px;
    background: url(img/stamp.png) center no-repeat; }
  #sec_06 .field {
    max-width: 320px;
    width: 100%; }
  #sec_06 .field + .field {
    margin-top: 10px; }
  #sec_06 .btn {
    width: 320px;
    margin: 10px 0 30px; }
  #sec_06 .small_text {
    font: 8px "GothamPro-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .57em; }
  #sec_06 .form_title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: .15em;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "latobold", sans-serif; }
    #sec_06 .form_title span {
      font-family: "latoblack", sans-serif;
      margin-bottom: 20px; }
  #sec_06 .block_text {
    float: left;
    padding-left: 30px;
    margin-top: 200px; }
    #sec_06 .block_text h2 {
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 28px; }
    #sec_06 .block_text p {
      font-size: 18px; }
    #sec_06 .block_text .yellow {
      font-family: "GothamPro-Black", sans-serif;
      margin-top: 7px; }
    #sec_06 .block_text .price {
      font: 55px "GothamPro-Black", sans-serif;
      margin-top: 15px; }

#sec_07 {
  padding: 112px 0 135px; }
  #sec_07 .grid_12 {
    padding-right: 60px; }
  #sec_07 .h2_desc {
    margin: 10px 0 50px;
    font-family: "latoblack", sans-serif;
    font-size: 18px; }
  #sec_07 .slider_exp-main .text_block {
    float: right; }
  #sec_07 .slider_exp-main img {
    float: left; }
  #sec_07 .slider_exp-main .slick-next {
    left: 490px;
    top: 490px; }
  #sec_07 .slider_exp-main .slick-prev {
    left: 460px;
    top: 490px; }
  #sec_07 .slider_exp1-main {
    margin-top: 55px; }
    #sec_07 .slider_exp1-main .text_block {
      float: left; }
    #sec_07 .slider_exp1-main img {
      float: right; }
    #sec_07 .slider_exp1-main .slick-next {
      right: 460px;
      top: 490px; }
    #sec_07 .slider_exp1-main .slick-prev {
      right: 490px;
      top: 490px; }
  #sec_07 .slider_exp-main .text_block,
  #sec_07 .slider_exp1-main .text_block {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 540px;
    background-color: #f9f9f9;
    padding: 40px 15px 40px 27px;
    height: 540px;
    line-height: 24px; }
    #sec_07 .slider_exp-main .text_block .name,
    #sec_07 .slider_exp1-main .text_block .name {
      font-family: "latoblack", sans-serif;
      margin-bottom: 10px; }
    #sec_07 .slider_exp-main .text_block .text + .text,
    #sec_07 .slider_exp1-main .text_block .text + .text {
      margin: 10px 0 20px; }
  #sec_07 .slider_exp-nav,
  #sec_07 .slider_exp1-nav {
    width: 1140px;
    margin-top: 30px; }
    #sec_07 .slider_exp-nav .slide,
    #sec_07 .slider_exp1-nav .slide {
      font-size: 16px;
      cursor: pointer; }
      #sec_07 .slider_exp-nav .slide .wrap,
      #sec_07 .slider_exp1-nav .slide .wrap {
        position: relative;
        display: inline-block;
        filter: grayscale(1);
        margin-bottom: 10px;
        transition: all 0.6s; }
      #sec_07 .slider_exp-nav .slide .wrap:before,
      #sec_07 .slider_exp1-nav .slide .wrap:before {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        opacity: 0;
        left: 50%;
        top: 50%;
        transition: all 0.4s;
        border: 1px solid #fff; }
      #sec_07 .slider_exp-nav .slide .name,
      #sec_07 .slider_exp1-nav .slide .name {
        font-family: "latoblack", sans-serif;
        margin-bottom: 10px; }
      #sec_07 .slider_exp-nav .slide p,
      #sec_07 .slider_exp1-nav .slide p {
        max-width: 255px; }
    #sec_07 .slider_exp-nav .slide:hover .wrap:before, #sec_07 .slider_exp-nav .slide.slick-current .wrap:before,
    #sec_07 .slider_exp1-nav .slide:hover .wrap:before,
    #sec_07 .slider_exp1-nav .slide.slick-current .wrap:before {
      width: 205px;
      height: 205px;
      opacity: 1;
      margin: -102.5px 0 0 -102.5px; }
    #sec_07 .slider_exp-nav .slide:hover .wrap, #sec_07 .slider_exp-nav .slide.slick-current .wrap,
    #sec_07 .slider_exp1-nav .slide:hover .wrap,
    #sec_07 .slider_exp1-nav .slide.slick-current .wrap {
      filter: grayscale(0); }

#sec_08 {
  padding: 80px 0 190px;
  background: url(img/sec_08-bg.jpg) top center no-repeat;
  color: #fff; }
  #sec_08 h2 {
    margin-bottom: 70px; }
  #sec_08 .list {
    display: inline-block;
    min-height: 760px;
    width: 570px;
    font-size: 16px;
    vertical-align: top;
    padding: 95px 0px 0 63px; }
    #sec_08 .list .yellow {
      font-family: "latoblack", sans-serif; }
    #sec_08 .list ul + ul {
      margin-top: 30px; }
    #sec_08 .list li + li {
      margin-top: 5px; }
  #sec_08 .main_title {
    color: #fab509;
    font-family: "latoblack", sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    #sec_08 .main_title .i-wrap {
      text-align: center;
      width: 40px;
      font-size: 24px;
      display: inline-block; }
  #sec_08 .container {
    position: relative; }
  #sec_08 .btndwn {
    position: absolute;
    bottom: -190px;
    width: 190px;
    height: 190px;
    left: 385px;
    transition: 0.5s; }
  #sec_08 .btndwn:hover {
    background: rgba(255, 255, 255, 0.1); }
  #sec_08 .btndwn.second {
    position: absolute;
    bottom: -190px;
    width: 190px;
    height: 190px;
    left: 576px;
    transition: 0.5s; }
  #sec_08 .btndwn.second:hover {
    background: rgba(0, 0, 0, 0.1); }
  #sec_08 .time {
    font-size: 20px;
    font-family: "latobold", sans-serif;
    margin: -15px 0 25px 0 !important; }

#sec_09 {
  padding: 90px 0 110px; }
  #sec_09 h2 {
    color: #4097a2;
    margin: 20px 0 35px; }
  #sec_09 .h2_desc {
    font-family: "latoblack", sans-serif;
    margin-bottom: 30px;
    font-size: 18px; }
  #sec_09 li {
    line-height: 25px;
    font-size: 18px;
    padding-left: 30px; }
  #sec_09 li + li {
    margin-top: 26px; }
  #sec_09 .i-wrap {
    display: inline-block;
    margin-right: 12px;
    margin-left: -30px; }
  #sec_09 .text_block {
    float: left;
    max-width: 700px; }
  #sec_09 .sec_09--image {
    float: right;
    margin-top: 192px;
    vertical-align: top;
    margin-right: 45px; }

#sec_10 {
  padding: 120px 0 190px;
  background: url(img/sec_10-bg.jpg) top center no-repeat; }
  #sec_10 h2 {
    margin-bottom: 20px; }
  #sec_10 h2 + p {
    letter-spacing: 0.036em; }
  #sec_10 .items_row {
    margin-top: 135px; }
    #sec_10 .items_row .item {
      position: relative;
      cursor: default;
      margin-left: 5px;
      vertical-align: top;
      display: inline-block;
      max-width: 380px;
      min-height: 190px;
      line-height: 24px;
      padding: 40px 0 0 70px;
      width: 100%;
      transition: all 0.5s; }
      #sec_10 .items_row .item .title {
        font-family: "latoblack", sans-serif;
        color: #4097a2;
        margin-top: 5px;
        transition: all 0.5s; }
      #sec_10 .items_row .item img {
        position: absolute;
        left: 30px;
        top: 50px;
        transition: all 0.5s; }
      #sec_10 .items_row .item .hovered {
        opacity: 0;
        z-index: 10;
        transition: all 0.5s; }
    #sec_10 .items_row .item + .item {
      margin-left: -5px; }
    #sec_10 .items_row .item:nth-child(4) {
      margin-left: 0; }
  #sec_10 .container {
    position: relative; }
  #sec_10 .btndwn {
    position: absolute;
    bottom: -190px;
    width: 190px;
    height: 190px;
    left: 385px;
    transition: 0.5s; }
  #sec_10 .btndwn:hover {
    background: rgba(0, 0, 0, 0.1); }

#sec_11 {
  padding: 110px 0 122px; }
  #sec_11 h2 {
    margin-bottom: 17px;
    font-size: 34px; }
  #sec_11 .h2_desc {
    font-family: "latoblack", sans-serif;
    font-size: 18px; }
  #sec_11 ul {
    padding-left: 40px;
    font-size: 16px;
    margin: 48px 0 34px; }
    #sec_11 ul li {
      position: relative;
      line-height: 24px; }
      #sec_11 ul li span {
        font-family: "latoblack", sans-serif; }
    #sec_11 ul li + li {
      margin-top: 36px; }
    #sec_11 ul li:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 14px;
      left: -40px;
      top: 10px;
      background: url(img/list.png) center no-repeat; }
  #sec_11 .btn {
    width: 320px;
    margin-top: 30px; }
  #sec_11 img {
    margin-left: 15px; }

#sec_12 {
  padding: 200px 0 190px;
  color: #fff;
  background: url(img/sec_12-bg.jpg) top center no-repeat; }
  #sec_12 h2 {
    font-size: 40px;
    line-height: 42px;
    margin-top: 100px;
    float: left; }
  #sec_12 .phone_slider--wrap {
    float: right;
    max-width: 570px;
    width: 100%; }
  #sec_12 .wrapper {
    display: inline-block;
    width: 45%;
    vertical-align: top; }
  #sec_12 .phone_slider {
    vertical-align: top;
    width: 212px;
    position: relative; }
  #sec_12 .phone_slider:before {
    position: absolute;
    content: '';
    width: 237px;
    height: 492px;
    left: -13px;
    top: -59px;
    background: url(img/phone_slider.png) center no-repeat; }
  #sec_12 .phone_slider--nav {
    line-height: 24px; }
    #sec_12 .phone_slider--nav .title {
      font-family: "latoblack", sans-serif;
      margin-bottom: 27px; }
  #sec_12 .slick-next {
    left: 30px;
    bottom: -40px;
    width: 14px;
    height: 14px; }
  #sec_12 .slick-prev {
    left: 0px;
    bottom: -40px;
    width: 14px;
    height: 14px; }
  #sec_12 .container {
    position: relative; }
  #sec_12 .btndwn {
    position: absolute;
    bottom: -188px;
    width: 190px;
    height: 190px;
    left: 385px;
    transition: 0.5s; }
  #sec_12 .btndwn:hover {
    background: rgba(255, 255, 255, 0.1); }

#sec_13 {
  padding: 110px 0 115px; }
  #sec_13 img {
    margin-left: 30px; }
  #sec_13 h2 {
    margin-bottom: 45px; }
  #sec_13 ul {
    padding-left: 43px;
    letter-spacing: 0.014em; }
    #sec_13 ul li {
      position: relative;
      font-size: 16px;
      line-height: 24px; }
      #sec_13 ul li span {
        font-family: "latoblack", sans-serif; }
      #sec_13 ul li .btn {
        max-width: 320px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px; }
      #sec_13 ul li .number {
        position: absolute;
        left: -40px;
        top: 2px;
        color: #4097a2;
        font: 18px/22px "GothamPro-Bold", sans-serif; }
    #sec_13 ul li + li {
      margin-top: 24px; }

#sec_14 {
  position: relative;
  color: #fff;
  padding: 65px 0 26px;
  background: url(img/sec_14-bg.png) top center no-repeat;
  overflow: hidden; }
  #sec_14 .top {
    letter-spacing: .25em;
    font-family: "GothamPro-Bold", sans-serif;
    padding: 0 60px 0 8px;
    margin-bottom: 52px; }
    #sec_14 .top .logo {
      float: left; }
    #sec_14 .top .phones {
      float: right;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.2em; }
      #sec_14 .top .phones a {
        line-height: 24px;
        color: #fff; }
      #sec_14 .top .phones a:hover {
        color: #fab509; }
      #sec_14 .top .phones .md-trigger {
        position: relative; }
      #sec_14 .top .phones .md-trigger:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: #fab509;
        left: 0px;
        bottom: -5px;
        transition: all 1s; }
      #sec_14 .top .phones .md-trigger:hover:before {
        width: 0; }
  #sec_14 .block_form {
    position: relative;
    float: left;
    vertical-align: top;
    width: 380px;
    text-align: center;
    position: relative;
    padding: 85px 30px; }
    #sec_14 .block_form .field {
      max-width: 320px;
      width: 100%; }
    #sec_14 .block_form .field + .field {
      margin-top: 10px; }
    #sec_14 .block_form .btn {
      max-width: 320px;
      width: 100%;
      margin: 10px 0 30px; }
    #sec_14 .block_form .small_text {
      font: 8px "GothamPro-Bold", sans-serif;
      text-transform: uppercase;
      letter-spacing: .57em; }
    #sec_14 .block_form .form_title {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: .15em;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-family: "latobold", sans-serif; }
      #sec_14 .block_form .form_title span {
        font-family: "latoblack", sans-serif;
        margin-bottom: 20px; }
  #sec_14 .block_text {
    text-align: left;
    width: 100%;
    max-width: 570px;
    padding: 140px 0 0 15px;
    float: right; }
    #sec_14 .block_text a {
      color: #fff; }
    #sec_14 .block_text a:hover {
      color: #4097a2; }
    #sec_14 .block_text h2 {
      margin-bottom: 30px; }
    #sec_14 .block_text ul.contacts {
      padding-left: 40px;
      font-size: 16px;
      letter-spacing: 0.06em;
      line-height: 27px; }
      #sec_14 .block_text ul.contacts li {
        position: relative; }
      #sec_14 .block_text ul.contacts .i-wrap {
        position: absolute;
        left: -40px;
        top: 0;
        font-size: 18px;
        text-align: center;
        width: 30px; }
      #sec_14 .block_text ul.contacts li + li {
        margin-top: 25px; }
    #sec_14 .block_text .beforeheader {
      display: inline-block;
      margin-top: 20px;
      color: #fab509;
      font-family: "latobold", sans-serif;
      font-size: 20px;
      line-height: 27px; }
      #sec_14 .block_text .beforeheader .wrap {
        display: inline-block;
        text-align: center;
        width: 27px; }
  #sec_14 ul.social {
    margin: 33px 0 0 35px; }
    #sec_14 ul.social li {
      display: inline-block; }
      #sec_14 ul.social li a {
        width: 22px;
        height: 22px;
        background: #fff;
        color: #141414; }
      #sec_14 ul.social li a:hover {
        color: #141414;
        background: #4097a2; }
  #sec_14 .politics {
    font-size: 14px;
    margin-top: 80px;
    margin-left: 33px;
    letter-spacing: 0.01em;
    line-height: 27px; }
    #sec_14 .politics a {
      display: inline-block;
      text-decoration: underline; }
    #sec_14 .politics a:hover {
      color: #4097a2; }
    #sec_14 .politics a + a {
      margin-left: 42px; }
    #sec_14 .politics a + p {
      display: inline-block;
      margin-left: 42px; }
    #sec_14 .politics .rights {
      font-size: 12px;
      color: #CBCBCB;
      margin-top: 15px; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
/* ANIMATIONS*/
/* SLIDER STYLES*/
.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next {
  z-index: 10;
  border-left: 4px solid #fff !important;
  border-top: 4px solid #fff !important;
  transform: rotate(135deg);
  background: none; }

.slick-prev {
  border-right: 4px solid #fff !important;
  border-top: 4px solid #fff !important;
  background: none;
  transform: rotate(-135deg);
  z-index: 10; }

.slick-next, .slick-prev {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border: none; }

.slick-next:hover {
  border-left: 4px solid #4097a2 !important;
  border-top: 4px solid #4097a2 !important; }

.slick-prev:hover {
  border-right: 4px solid #4097a2 !important;
  border-top: 4px solid #4097a2 !important; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider * {
    outline: none; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #4097a2;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #4097a2; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px;
  color: #fff !important; }
  div[id*="modal_callback"] h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 30px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: url(img/sec_08-bg.jpg);
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .btn {
    margin: 10px auto 0;
    width: 300px; }
  div[id*="modal_callback"] .btn:hover {
    color: #fff; }
  div[id*="modal_callback"] h3 {
    background: none !important; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    width: 300px; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 10px; }
  div[id*="modal_callback"] .small_text {
    font: 8px "GothamPro-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .57em; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 30px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 520px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -7px;
  opacity: 1; }

.btn_close_modal {
  display: inline-block;
  z-index: 10;
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 0px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal a {
    color: #000; }
    .btn_close_modal a svg .a {
      fill: #4097a2;
      transition: all 0.5s; }
  .btn_close_modal a:hover svg .a {
    fill: #fab509;
    transition: all 0.5s; }

.t_small {
  font-size: 14px; }

/* SIDEBAR*/
@media (min-width: 1921px) {
  section {
    background-size: cover !important; } }
div[id*="modal_politics"] h2, div[id*="modal_politics"] h4 {
  background: none; }

@media (min-width: 980px) and (max-width: 1199px) {
  #sec_01 {
    min-height: 850px; }
    #sec_01 .block_text h1 {
      font-size: 80px;
      line-height: 75px; }
    #sec_01 .block_form {
      width: 355px; }
    #sec_01 .block_form:before {
      display: none; }
    #sec_01 #video-bg:before {
      display: none; }
    #sec_01 .btndwn {
      bottom: -111px;
      left: 150px; }

  #sec_02 h2 br {
    display: none; }
  #sec_02 img {
    width: 100%;
    max-width: 505px; }

  #sec_03 .desc {
    display: none; }
  #sec_03 .mob {
    display: block; }
  #sec_03 p {
    font-size: 17px; }
  #sec_03 .btndwn {
    right: 290px; }

  #sec_04 img {
    width: 100%;
    max-width: 446px;
    margin-top: 50px; }
  #sec_04 li br {
    display: none; }
  #sec_04 .left_block {
    padding: 0; }

  #sec_05 {
    padding-top: 100px;
    padding-left: 0;
    background: url(img/mob/sec_05-bg.png) top center no-repeat; }
    #sec_05 .item {
      border: 1px solid rgba(255, 255, 255, 0.15);
      width: 155px;
      height: 155px;
      font-size: 16px;
      background: rgba(255, 255, 255, 0.1); }
    #sec_05 .block_text {
      padding-bottom: 20px; }
    #sec_05 .item_wrapper {
      padding-top: 112px;
      margin-right: 5px; }
    #sec_05 .row-4 .item:nth-child(1) {
      margin-left: -5px; }
    #sec_05 .btndwn {
      left: 380px; }

  #sec_06 {
    background: url(img/mob/sec_06-bg.png) top center no-repeat;
    padding: 190px 0; }

  #sec_07 {
    overflow: hidden; }
    #sec_07 .grid_12 {
      padding-right: 0px;
      margin-left: 0; }
    #sec_07 .slider_exp-main img,
    #sec_07 .slider_exp1-main img {
      width: 480px; }
    #sec_07 .slider_exp-main .text_block,
    #sec_07 .slider_exp1-main .text_block {
      width: 440px;
      height: 480px;
      padding: 20px 15px; }
    #sec_07 .slider_exp-nav,
    #sec_07 .slider_exp1-nav {
      width: 1025px; }
    #sec_07 .slider_exp-main .slick-next {
      left: 440px;
      top: 440px; }
    #sec_07 .slider_exp-main .slick-prev {
      left: 410px;
      top: 440px; }
    #sec_07 .slider_exp1-main .slick-next {
      right: 420px;
      top: 440px; }
    #sec_07 .slider_exp1-main .slick-prev {
      right: 450px;
      top: 440px; }

  #sec_08 .list {
    width: 430px; }
  #sec_08 .btndwn {
    left: 273px; }

  #sec_09 [alt="Note"] {
    margin-left: -30px;
    width: 100%;
    max-width: 1024px; }
  #sec_09 .sec_09--image {
    margin: 440px 0px 0 -200px;
    width: 300px; }

  #sec_10 {
    background: url(img/mob/sec_10-bg.png) top center no-repeat;
    padding: 120px 0 145px; }
    #sec_10 .items_row {
      margin-top: 35px; }
      #sec_10 .items_row .item {
        max-width: 310px;
        padding: 40px 0 0 30px; }
        #sec_10 .items_row .item br {
          display: none; }
        #sec_10 .items_row .item img {
          display: none; }
    #sec_10 .btndwn {
      bottom: -145px; }

  #sec_11 br {
    display: none; }
  #sec_11 img {
    width: 100%;
    max-width: 508px;
    margin: 0; }
  #sec_11 ul {
    margin: 25px 0; }
    #sec_11 ul li + li {
      margin-top: 24px; }

  #sec_12 h2 {
    font-size: 36px; }
  #sec_12 .grid_12 {
    margin: 0; }
  #sec_12 .phone_slider--wrap {
    max-width: 460px; }
    #sec_12 .phone_slider--wrap .wrapper {
      width: 212px; }
    #sec_12 .phone_slider--wrap .wrapper + .wrapper {
      width: 220px;
      margin-left: 20px; }
  #sec_12 .btndwn {
    left: 80px; }

  #sec_13 img {
    margin: 0;
    width: 100%;
    max-width: 446px; }

  #sec_14 {
    background: url(img/mob/sec_14-bg.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 220px;
    position: relative;
    overflow: hidden; }
    #sec_14 .top {
      margin-bottom: 30px; }
    #sec_14 .block_form {
      background: rgba(0, 0, 0, 0.5); }
    #sec_14 .block_text {
      max-width: 523px;
      background: rgba(0, 0, 0, 0.3);
      padding: 130px 0 72px 45px; }
    #sec_14 .politics {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 10px -20px 0;
      padding: 74px 30px 60px;
      background: rgba(0, 0, 0, 0.7); }
      #sec_14 .politics p {
        margin-left: 0 !important;
        display: block;
        margin-top: 10px; }
      #sec_14 .politics .rights {
        margin-top: 5px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin: 0 !important; }

  .btndwn {
    left: 50% !important;
    margin-left: -95px !important; }

  #sec_01 {
    height: auto;
    min-height: auto;
    text-align: center; }
    #sec_01 .grid_12 {
      padding: 0;
      margin: 0; }
    #sec_01 .top {
      margin: 0 0 30px; }
    #sec_01 .block_text {
      padding-top: 25px;
      float: none; }
      #sec_01 .block_text h1 {
        font-size: 80px;
        line-height: 80px; }
    #sec_01 .block_form {
      padding-top: 30px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      float: none; }
      #sec_01 .block_form .field {
        margin-top: 5px !important; }
      #sec_01 .block_form .btn {
        vertical-align: top;
        margin-top: 5px; }
    #sec_01 .block_form:before {
      display: none; }
    #sec_01 #video-bg:before {
      display: none; }

  #sec_02 {
    padding: 50px 0 80px; }
    #sec_02 h2 br {
      display: none; }
    #sec_02 img {
      width: 95%;
      max-width: 505px; }
    #sec_02 [alt="Crowd"] {
      margin-top: 250px; }

  #sec_03 {
    background: url(img/mob/sec_03-bg.png) top center no-repeat; }
    #sec_03 .desc {
      display: none; }
    #sec_03 .mob {
      display: block; }
    #sec_03 p {
      font-size: 17px; }
    #sec_03 .btndwn {
      right: 290px; }
    #sec_03 .price {
      margin: 25px 220px 0 0; }

  #sec_04 img {
    width: 95%;
    max-width: 446px;
    margin-top: 50px; }
  #sec_04 li br {
    display: none; }
  #sec_04 ul li + li {
    margin-top: 14px; }
  #sec_04 .left_block {
    padding: 0; }

  #sec_05 {
    padding-top: 80px;
    padding-left: 0;
    background: url(img/mob/sec_05-bg.png) top center no-repeat; }
    #sec_05 .item {
      border: 1px solid rgba(255, 255, 255, 0.15);
      width: 128px;
      height: 128px;
      font-size: 16px;
      background: rgba(255, 255, 255, 0.1); }
      #sec_05 .item img {
        margin-bottom: 5px; }
    #sec_05 .block_text {
      float: none;
      text-align: center;
      padding-bottom: 30px;
      width: 100%;
      display: block; }
    #sec_05 .row-1 {
      flex-direction: column;
      align-items: center; }
    #sec_05 [class*='row'] {
      margin: 0 -10px 0 -15px; }
    #sec_05 .item_wrapper {
      padding-top: 0px;
      margin-right: 5px; }
    #sec_05 .row-4 .item:nth-child(1) {
      margin-left: -5px; }
    #sec_05 .btndwn {
      left: 380px; }

  #sec_06 {
    background: url(img/mob/sec_06-bg.png) top center no-repeat;
    padding-top: 80px; }
    #sec_06 .block_text {
      width: 300px; }
    #sec_06 .block_form:before {
      display: none; }

  #sec_07 {
    padding: 80px 0;
    overflow: hidden;
    text-align: center; }
    #sec_07 .grid_12 {
      padding-right: 0px;
      margin-left: 0; }
    #sec_07 .slider_exp-main,
    #sec_07 .slider_exp1-main {
      text-align: left; }
      #sec_07 .slider_exp-main img,
      #sec_07 .slider_exp1-main img {
        margin: 0 auto 30px !important;
        float: none; }
      #sec_07 .slider_exp-main .text_block,
      #sec_07 .slider_exp1-main .text_block {
        float: none;
        width: 100%;
        height: auto;
        padding: 30px; }
    #sec_07 .slider_exp-nav,
    #sec_07 .slider_exp1-nav {
      width: 100%;
      text-align: left; }
      #sec_07 .slider_exp-nav p,
      #sec_07 .slider_exp1-nav p {
        max-width: 240px !important; }
    #sec_07 .slider_exp-main .slick-next {
      right: 50%;
      margin-right: -40px;
      left: initial;
      top: 490px; }
    #sec_07 .slider_exp-main .slick-prev {
      left: 50%;
      margin-left: -40px;
      top: 490px; }
    #sec_07 .slider_exp1-main .slick-next {
      right: 50%;
      margin-right: -40px;
      left: initial;
      top: 490px; }
    #sec_07 .slider_exp1-main .slick-prev {
      left: 50%;
      margin-left: -40px;
      top: 490px; }

  #sec_08 .list {
    width: 350px; }
  #sec_08 .btndwn {
    left: 80px !important;
    margin-left: 0; }
  #sec_08 .btndwn.second {
    left: 270px !important; }

  #sec_09 [alt="Note"] {
    margin-left: -30px;
    width: 100%;
    max-width: 1024px; }
  #sec_09 .sec_09--image {
    display: none; }

  #sec_10 {
    background: url(img/mob/sec_10-bg.png) top center no-repeat;
    padding: 80px 0; }
    #sec_10 .items_row {
      margin-top: 35px; }
      #sec_10 .items_row .item {
        max-width: 360px; }
        #sec_10 .items_row .item br {
          display: none; }
    #sec_10 .btndwn {
      display: none; }
    #sec_10 .header {
      text-align: center; }

  #sec_11 br {
    display: none; }
  #sec_11 .grid_6 {
    width: 100%;
    padding: 0 20px; }
  #sec_11 img {
    display: none; }
  #sec_11 ul {
    margin: 25px 0; }

  #sec_12 {
    background: url(img/mob/sec_12-bg.png) top center no-repeat;
    padding: 80px 0 120px;
    background-size: cover; }
    #sec_12 h2 {
      float: none;
      display: block;
      text-align: center;
      margin: 0 auto 80px; }
    #sec_12 .grid_12 {
      margin: 0; }
    #sec_12 .phone_slider--wrap {
      max-width: 560px;
      float: none;
      margin: 0 auto; }
      #sec_12 .phone_slider--wrap .wrapper {
        width: 212px; }
      #sec_12 .phone_slider--wrap .wrapper + .wrapper {
        width: 300px;
        margin-left: 40px; }
    #sec_12 .btndwn {
      display: none; }

  #sec_13 img {
    margin: 80px 0 0;
    width: 90%;
    max-width: 446px; }

  #sec_14 {
    background: url(img/mob/sec_14-bg.png) top center no-repeat;
    padding-bottom: 205px;
    position: relative; }
    #sec_14 .top {
      margin-bottom: 30px; }
    #sec_14 .block_form {
      background: rgba(0, 0, 0, 0.5);
      width: 350px; }
    #sec_14 .block_text {
      max-width: 398px;
      background: rgba(0, 0, 0, 0.3);
      padding: 75px 0 118px 45px; }
    #sec_14 .politics {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 10px -20px 0;
      padding: 74px 30px 50px;
      background: rgba(0, 0, 0, 0.7); }
      #sec_14 .politics p {
        margin-left: 0 !important;
        display: block;
        margin-top: 10px; }
      #sec_14 .politics a + a {
        margin-left: 15px; } }
@media (max-width: 767px) {
  .block_form br {
    display: none; }

  h2 br {
    display: none; }

  .row, [class*='grid'] {
    margin-left: 0 !important;
    margin-right: 0 !important; }

  section {
    padding-left: 10px !important;
    padding-right: 10px !important; }

  .btndwn {
    display: none; }

  div[id*="modal_callback"] .field {
    width: 100%; }
  div[id*="modal_callback"] .btn {
    width: 100%; }

  #sec_04 {
    padding: 70px 0; }
    #sec_04 h2 {
      text-align: center; }
    #sec_04 img {
      display: none; }
    #sec_04 li br {
      display: none; }
    #sec_04 .left_block {
      padding: 0; }

  #sec_05 {
    padding: 80px 0;
    background: url(img/mob/sec_05-bg.png) top center no-repeat;
    background-size: cover; }
    #sec_05 .container {
      padding-left: 0; }
    #sec_05 .item {
      border: 1px solid rgba(255, 255, 255, 0.15);
      width: 128px;
      height: 128px;
      font-size: 16px;
      background: rgba(255, 255, 255, 0.1); }
      #sec_05 .item img {
        margin-bottom: 5px; }
    #sec_05 .block_text {
      float: none;
      text-align: center;
      padding: 0 0 30px;
      width: 100%;
      display: block; }
    #sec_05 .row-1 {
      flex-direction: column; }
    #sec_05 [class*='row'], #sec_05 .item_wrapper {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
    #sec_05 .item_wrapper {
      padding-top: 0px;
      margin-right: 5px; }
      #sec_05 .item_wrapper .item:nth-child(3) {
        display: none; }
    #sec_05 .row-4 .item:nth-child(1) {
      margin-left: -5px; }
    #sec_05 .btndwn {
      left: 380px; }

  #sec_06 {
    background: url(img/mob/sec_06-bg.png) top center no-repeat;
    background-size: cover;
    padding: 80px 0; }
    #sec_06 .block_text {
      width: 100%;
      float: none;
      margin: 0 0 40px;
      text-align: center;
      padding: 0; }
    #sec_06 .block_form {
      padding-top: 30px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      float: none; }
      #sec_06 .block_form .field {
        margin-top: 5px !important; }
      #sec_06 .block_form .btn {
        vertical-align: top;
        margin-top: 5px; }

  #sec_07 {
    padding: 80px 0;
    overflow: hidden;
    text-align: center; }
    #sec_07 .grid_12 {
      padding-right: 0px;
      margin-left: 0; }
    #sec_07 .slider_exp-main,
    #sec_07 .slider_exp1-main {
      text-align: left; }
      #sec_07 .slider_exp-main img,
      #sec_07 .slider_exp1-main img {
        margin: 0 auto 20px !important;
        float: none;
        width: 300px; }
      #sec_07 .slider_exp-main .text_block,
      #sec_07 .slider_exp1-main .text_block {
        float: none;
        width: 100%;
        height: auto;
        padding: 30px; }
    #sec_07 .slider_exp-nav,
    #sec_07 .slider_exp1-nav {
      display: none; }
    #sec_07 .slider_exp-main .slick-next {
      right: 40px;
      left: initial;
      top: 130px;
      border-color: #4097a2 !important; }
    #sec_07 .slider_exp-main .slick-prev {
      left: 40px;
      top: 130px;
      border-color: #4097a2 !important; }
    #sec_07 .slider_exp1-main .slick-next {
      right: 40px;
      left: initial;
      top: 130px;
      border-color: #4097a2 !important; }
    #sec_07 .slider_exp1-main .slick-prev {
      left: 40px;
      top: 130px;
      border-color: #4097a2 !important; }

  #sec_08 {
    background: url(img/mob/sec_08-bg.png) top center no-repeat;
    background-size: cover;
    padding: 80px 0;
    text-align: center; }
    #sec_08 h2 {
      margin-bottom: 30px; }
    #sec_08 ul + ul {
      margin-top: 20px; }
    #sec_08 .list {
      width: 100%;
      display: block;
      min-height: auto;
      padding: 20px; }

  #sec_10 {
    background: url(img/mob/sec_10-bg.png) top center no-repeat;
    padding: 80px 0;
    background-size: cover; }
    #sec_10 .items_row {
      margin-top: 35px; }
      #sec_10 .items_row .item {
        max-width: 360px;
        min-height: auto;
        padding-top: 15px;
        display: block;
        text-align: center;
        padding: 15px 0 0 0;
        margin: 0 auto 20px !important; }
        #sec_10 .items_row .item br {
          display: none; }
        #sec_10 .items_row .item img {
          display: none; }
    #sec_10 .header {
      text-align: center; }

  #sec_11 {
    padding: 80px 0; }
    #sec_11 br {
      display: none; }
    #sec_11 .grid_6 {
      width: 100%;
      padding: 0 20px; }
    #sec_11 h2, #sec_11 .h2_desc {
      text-align: center; }
    #sec_11 img {
      display: none; }
    #sec_11 ul {
      margin: 25px 0; }
    #sec_11 .btn {
      margin: 10px auto 0; }

  #sec_13 {
    background: #eee;
    padding: 80px 0; }
    #sec_13 img {
      display: none; }
    #sec_13 h2 {
      text-align: center; }
    #sec_13 ul {
      padding-left: 60px; }

  #sec_14 {
    background: url(img/mob/sec_14-bg.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    position: relative; }
    #sec_14 .top {
      margin-bottom: 30px;
      padding: 0; }
      #sec_14 .top .logo, #sec_14 .top .phones {
        float: none; }
      #sec_14 .top .logo {
        margin-bottom: 10px; }
    #sec_14 .block_form {
      padding-top: 30px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      float: none; }
      #sec_14 .block_form .field {
        margin-top: 5px !important; }
      #sec_14 .block_form .btn {
        vertical-align: top;
        margin-top: 5px; }
    #sec_14 .block_text {
      max-width: 100%;
      float: none;
      background: rgba(0, 0, 0, 0.3);
      padding: 30px;
      text-align: center; }
      #sec_14 .block_text .befoerheader, #sec_14 .block_text .tl {
        text-align: center !important; }
      #sec_14 .block_text ul.contacts {
        padding-left: 0; }
      #sec_14 .block_text li i {
        display: none; }
    #sec_14 .politics {
      text-align: center;
      margin: 0 -15px !important;
      padding: 30px;
      background: rgba(0, 0, 0, 0.7); }
      #sec_14 .politics p {
        margin-left: 0 !important;
        display: block !important;
        margin-top: 10px; }
      #sec_14 .politics a {
        display: block;
        margin: 0 !important; }

  div[id*="modal_politics"] h2, div[id*="modal_politics"] h4 {
    font-size: 22px;
    margin-bottom: 0 !important; } }
@media (max-width: 460px) {
  #sec_07 .slider_exp-main {
    margin-top: 80px; }
    #sec_07 .slider_exp-main .slick-next {
      right: 50%;
      margin-right: -40px;
      left: initial;
      top: -30px;
      border-color: #4097a2 !important; }
    #sec_07 .slider_exp-main .slick-prev {
      left: 50%;
      margin-left: -40px;
      top: -30px;
      border-color: #4097a2 !important; }
  #sec_07 .slider_exp1-main {
    margin-top: 80px; }
    #sec_07 .slider_exp1-main .slick-next {
      right: 50%;
      margin-right: -40px;
      left: initial;
      top: -30px;
      border-color: #4097a2 !important; }
    #sec_07 .slider_exp1-main .slick-prev {
      left: 50%;
      margin-left: -40px;
      top: -30px;
      border-color: #4097a2 !important; }

  ul li .btn {
    margin-left: -40px; }

  div[id*="modal_politics"] h2, div[id*="modal_politics"] h4 {
    font-size: 16px !important;
    margin-bottom: 0 !important;
    padding-top: 30px; }
  div[id*="modal_politics"] .md-content {
    max-height: 450px;
    height: 80%; } }
@media screen and (max-height: 800px) {
  .md_large .md_content {
    max-height: 320px; } }

/*# sourceMappingURL=style.css.map */
