/*@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latosemibold';
    src: url('fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('fonts/gotham/GothamPro-Black.woff2') format('woff2'),
       url('fonts/gotham/GothamPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('fonts/gotham/GothamPro-Bold.woff2') format('woff2'),
       url('fonts/gotham/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('fonts/gotham/GothamPro-Medium.woff2') format('woff2'),
       url('fonts/gotham/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/

